section.repository-list{
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
        li {
            margin-top: 20px;
            & + li {
                margin-top: 20px;
            }
        }
    }
    p {
        font-size: 14px;
        color: rgb(0, 66, 82);
        margin-top: 8px;
    }
    a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: blue;

    }
}
